/*La presente hoja de estilos aplicará estilos globales a las etiquetas html*/


* {
    box-sizing: border-box;
}
    
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

link:hover,
a:hover {
    text-decoration: none;
}

link:hover,
a:hover,
button:hover{
    cursor: pointer;
}

ul{
    padding: 0;
    list-style: none;
}

li{
    margin: 0.6em 0;
}

image{
    min-width: 100%;
}