/* Variables globales */
:root{
    --textLight:#EEF1EF;
    --textLight-on: #DDE3DF;
    --textDark: #333333;
    --textMedium: #3F5766;
    --textMedium-on:#ADBAC2;
    --primary: #FFB20F;
    --primary-on: #FFD885;
    --green: #21a179;
    --green-on: #48a9a6;
    --blue: #005Bea;
    --blue-on: #00C6FB;
}

/* CSS Metodología BEM */
/********************************************
**  PARA SABER MAS DE LA METODOLOGÍA BEM   **
**           EN CSS, CONSUTAR:             **
**         https://en.bem.info/            **
********************************************/

/* 
Sintaxis usada de la siguiente forma:

Block -> .blockName
Element -> .blockName__elementName
Modiffier -> .blockName_modiffierValue o .blockName__elementName_modifierValue
*/

/***Logo***/
.logo{
    height: 2em;
    display: flex;
    align-items: center;
}

/* Footer */
.footer{
    margin: auto;
    padding: 2em 1.5em;
    color: var(--textLight);
    background: radial-gradient(ellipse, var(--textDark) 29%, rgba(0,0,0,0.81) 100%);
    background-blend-mode: normal;
}

.footer__contenido{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.footer__links{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
}

.footer__logoLink{
    max-width: 15em;
    display: flex;
    align-items: center;
}

.footer__redSocialLink{
    display: inline-block;
    color: var(--textLight);
    margin-right: 0.2em;
    width: 40px;
    height: 40px;
}

.footer__redSocialIcon{
    padding: 0.2em;
    border: 2px solid var(--textLight);
    border-radius: 50%;
    width: 1.5em;
    color: #fff;
}

.footer__logo{
    font-size: 1.5em;
    margin-right: 0.5em;
}

.footer__logo_textM{
    font-size: 0.7em;
}

.footer__contacto{
    text-align: left;
    margin: 1em 0;
}

.footer__copyRight{
    margin: 0.8em 0;
    text-align: center;
}

/* Extra small devices (phones, 300px and down) */
 @media only screen and (max-width: 300px) {
    body{
        font-size: 0.88rem;
    }

}

/* Extra small devices (phones, 300px and up) */
@media only screen and (min-width: 300px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

    /*Footer*/
    .footer__logo{
        font-size: 1.9em;
    }

    .footer__logo_textM{
        font-size: 0.9em;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 /* @media only screen and (min-width: 768px) {...} */
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

    /* Footer */
    .footer{
        padding: 2em 4em;
    }

    .footer__contenido{
        margin: auto;
        max-width: 85%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer__logoLink{
        max-width: 18.6em;
    }

    .footer__links{
        flex-grow: 1;
        grid-template-columns: auto auto auto;
        gap: 1.5em;
    }

    .footer__copyRight{
        margin: 2em 0;
    }
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

    /*Footer*/
    .footer__info{
        max-width: 40%;
    }
 }